/* Color Pallate Variables */
:root {
    --text: black;
    --bg: #E6BA95;
    --alt-bg: #FAFDD6;
    --bar-a: #A2B38B;
    --bar-b: #E4E9BE;
    --header-height: 100px;
}


body {
    background-color: var(--bg);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
    margin: 0;
}

/* Title Bar */

.TitleBar {
    overflow: hidden;
    padding-left: 40px;
    color: var(--text);
    background-color: var(--alt-bg);
    box-shadow: 0px 3px;
    height: var(--header-height);
}

.TitleBar h1 {
    font-size: 30pt;
    letter-spacing: 1px;
}


/* Bar Chart */

.BarChart {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-column-gap: 10px;
    align-items: end;
    height: calc(100vh - var(--header-height));
    padding-left: 10vw;
    padding-right: 10vw;
}

.BarChart-bar {
    background-color: var(--bar-a);
    color: var(--text);
    font-size: 8vh;
    font-family: 'Lucida Sans';
    text-align: center;
}

/* For alternating colors on bar */
.BarChart-bar:nth-child(even) {
    background-color: var(--bar-b);
}
